@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--font-outfit, "Outfit", sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2rem;
  overflow-x: hidden;
}

/* Dark theme styles */
.dark body {
  background-color: rgb(14, 7, 30);
  color: white;
}

.dark .swiper-pagination-bullet {
  background-color: #8b8787 !important;
  opacity: 1;
}
.dark .swiper-pagination-bullet-active {
  background-color: #2494df !important;
}
