* {
  font-family: Outfit;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-outfit), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2rem;
  overflow-x: hidden;
}

/* Dark theme styles */
.dark body {
  background-color: rgb(14, 7, 30);
  color: white;
}

.ovo-text {
  font-family: var(--font-ovo), serif;
}
