.navbar {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  padding-left: 1rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
.scrolled {
  background: rgba(244, 242, 242, 0.523);
  backdrop-filter: blur(10px);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.scrolledDark {
  background-color: rgb(14, 7, 30);
  backdrop-filter: blur(10px);
}

.logo {
  width: 8.5rem;
  height: 3.2rem;
  cursor: pointer;
  margin-right: 3.5rem;
}
.darkLogo {
  width: 8.5rem;
  height: 3.8rem;
  cursor: pointer;
  margin-right: 3.5rem;
}
.contactImage {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 4rem;
}
.resumeButton {
  padding: 0.55rem 1.5rem;
  border: 1px solid #6b7280;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  text-decoration: none;
  color: inherit;
  margin-right: 1.5rem;
}
.resumeButton:hover {
  background-color: rgb(46, 179, 194);
  color: white;
}
.resumeButton:hover .buttonIcon {
  filter: brightness(0) invert(1);
}
.resumeButtonDark {
  border-color: rgba(255, 255, 255, 0.5);
  color: black;
  background-color: rgb(93, 219, 219);
}

@media (min-width: 1024px) {
  .resumeButton {
    display: flex;
  }
}
@media (max-width: 768px) {
  .resumeButton {
    display: none;
  }
}
.buttonIcon {
  width: 1rem;
  height: auto;
}

.navList {
  display: none;
  list-style: none;
  border-radius: 999px;
  padding: 0.8rem 2rem;
  margin-left: 2rem;
  background-color: rgb(141, 202, 202);
}
.navList a {
  text-decoration: none;
  color: inherit;
}
.navList a:hover {
  color: rgb(248, 250, 251);
}
.navListDark a {
  color: black;
}

@media (min-width: 768px) {
  .navList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .navList {
    gap: 1.5rem;
  }
}
.navListScrolled {
  background: none;
  box-shadow: none;
}
.navListScrolled a:hover {
  color: rgb(15, 177, 177);
}
.darkScrollNavList {
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  background: none;
}
.darkScrollNavList a {
  background: none;
  color: white;
}
.darkScrollNavList a:hover {
  color: rgb(141, 202, 202);
}

.toggle {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
@media (min-width: 768px) {
  .toggle {
    margin-right: 1.5rem;
  }
}

.themeToggleBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.toggleIcon {
  width: 42%;
  height: 42%;
}
@media (max-width: 768px) {
  .toggleIcon {
    width: 65%;
    height: 65%;
  }
}
.menuIcon {
  width: 35%;
  height: 35%;
}
@media (max-width: 768px) {
  .menuIcon {
    width: 55%;
    height: 55%;
  }
}
/* Menu Button */
.menuBtn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
/* mobile menu */
.mobileMenu {
  position: fixed;
  top: 0;
  margin-top: 0;
  right: -360px; /* Off-screen */
  width: 160px;
  height: 100vh;
  list-style: none;
  background-color: #84afc4;
  color: black;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: right 0.5s ease-in-out;
  z-index: 50;
}

.mobileMenuActive {
  right: 0;
}

/* Dark mode styles */
.mobileMenuDark {
  background-color: #222;
  color: white;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 30px;
}

.closeIcon {
  width: 55%;
  height: 55%;
}
.mobileMenu li {
  width: 100%;
}

/* Navigation links */
.mobileMenu a {
  font-family: "Lora", serif;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}
.mobileMenu li:hover {
  color: white;
}
.mobileMenuDark li:hover {
  color: rgb(62, 149, 204);
}
