.navbar {
  width: 100vw;
  position: fixed;
  top: 5;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
.logo {
  width: 8.5rem;
  height: 3.2rem;
  cursor: pointer;
  margin-right: 3.5rem;
}
.darkLogo {
  width: 8.5rem;
  height: 3.8rem;
  cursor: pointer;
  margin-right: 3.5rem;
}
.contactImage {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 4rem;
}
.contact {
  text-decoration: none;
  color: inherit;
  display: none;
  align-items: center;
  width: 25%;
  gap: 0.75rem;
  padding: 0.4rem 2rem;
  border: 1px solid #6b7280;
  border-radius: 999px;
  margin-left: 1rem;
  font-family: "Ovo", serif;
}
.contactDark {
  border-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
  .contact {
    display: flex;
  }
}

.navList {
  display: none;
  list-style: none;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  margin-left: 2rem;
  background-color: rgb(108, 191, 191);
}
.navList a {
  text-decoration: none;
  color: inherit;
}
.navList a:hover {
  color: white;
}
.navListDark a:hover {
  color: black;
}

@media (min-width: 768px) {
  .navList {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .navList {
    gap: 2rem;
  }
}
.toggle {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
@media (min-width: 768px) {
  .toggle {
    margin-right: 1.5rem;
  }
}

.themeToggleBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.toggleIcon {
  width: 42%;
  height: 42%;
}
@media (max-width: 768px) {
  .toggleIcon {
    width: 65%;
    height: 65%;
  }
}
.menuIcon {
  width: 35%;
  height: 35%;
}
@media (max-width: 768px) {
  .menuIcon {
    width: 55%;
    height: 55%;
  }
}
/* Menu Button */
.menuBtn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
/* mobile menu */
.mobileMenu {
  position: fixed;
  top: 0;
  margin-top: 0;
  right: -360px; /* Off-screen */
  width: 160px;
  height: 100vh;
  list-style: none;
  background-color: #6b8d9e; /* Light mode */
  color: black;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: right 0.5s ease-in-out;
  z-index: 50;
}

/* To show menu when active */
.mobileMenuActive {
  right: 0;
}

/* Dark mode styles */
.mobileMenuDark {
  background-color: #222;
  color: white;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 30px;
}

.closeIcon {
  width: 55%;
  height: 55%;
}
.mobileMenu li {
  width: 100%;
}

/* Navigation links */
.mobileMenu a {
  font-family: "Ovo", serif;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}
.mobileMenu li:hover {
  color: white;
}
.mobileMenuDark li:hover {
  color: rgb(62, 149, 204);
}
