.navbar {
  width: 100vw;
  position: fixed;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
.logo {
  width: 8.5rem;
  height: 3.2rem;
  cursor: pointer;
  margin-right: 3.5rem;
}
.darkLogo {
  width: 8.5rem;
  height: 3.8rem;
  cursor: pointer;
  margin-right: 3.5rem;
}
.contactImage {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 4rem;
}
.contact {
  text-decoration: none;
  color: inherit;
  display: none;
  align-items: center;
  width: 25%;
  gap: 0.75rem;
  padding: 0.4rem 2rem;
  border: 1px solid #6b7280;
  border-radius: 999px;
  margin-left: 1rem;
  font-family: "Ovo", serif;
}
.contactDark {
  border-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
  .contact {
    display: flex;
  }
}

.navList {
  display: none;
  list-style: none;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  background-color: rgb(108, 191, 191);
}
.navList a {
  text-decoration: none;
  color: inherit;
}
.navList a:hover {
  color: white;
}
.navListDark a:hover {
  color: black;
}

@media (min-width: 768px) {
  .navList {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .navList {
    gap: 2rem;
  }
}
.toggle {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
@media (min-width: 768px) {
  .toggle {
    margin-right: 1.5rem;
  }
}

.themeToggleBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.toggleIcon {
  width: 42%;
  height: 42%;
}
@media (max-width: 768px) {
  .toggleIcon {
    width: 60%;
    height: 60%;
  }
}
.menuIcon {
  width: 35%;
  height: 35%;
}
@media (max-width: 768px) {
  .menuIcon {
    width: 55%;
    height: 55%;
  }
}
/* Menu Button */
.menuBtn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
